# This workflow will deploy the application resources
name: application-deployment
trigger: none
pr:
  branches:
    include:
      - main
  paths:
    include:
      - '5.spoke-network/main.application.bicep'
      - '5.spoke-network/app-parameters/**'

parameters:
  - name: env
    displayName: Environment
    type: string
    default: dev
    values:
      - dev
      - systemtest_manual
      - systemtest_auto
      - systemtest_int
      - uat
      - pre_prod
      - production
  - name: create_secrets_with_placeholders
    displayName: 'Create Key Vault Secrets with Placeholders'
    type: boolean
    default: false

stages:
  - stage: PRValidation
    displayName: 'PR Validation Application Deployment'
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
      - job: setup
        displayName: 'Get Devops Public IP'
        pool:
          name: rsp-manageddevopspool
        steps:
          - bash: | 
              ipaddress=$(curl -s http://ipinfo.io/ip)
              ipaddressipify=$(curl -s https://api.ipify.org)
              echo "##vso[task.setvariable variable=ipaddress;isOutput=true;]$ipaddress"
              echo "##vso[task.setvariable variable=ipaddressipify;isOutput=true;]$ipaddressipify"
            name: fetchPublicIP

      - job: lint
        displayName: 'Lint Application Templates'
        dependsOn: setup
        pool:
          name: rsp-manageddevopspool
        steps:
          - checkout: self
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'
          - bash: az bicep build --file ./5.spoke-network/main.application.bicep
      
      - job: SAST
        displayName: 'SAST Analysis'
        pool:
          name: rsp-manageddevopspool
        dependsOn: setup
        steps:
        - task: MicrosoftSecurityDevOps@1
          displayName: 'Run SAST Analysis'
          inputs:
            tools: 'checkov,templateanalyzer'
            artifactName: 'CodeAnalysisLogs'
        

      - job: validate
        displayName: 'Validate Application Deployment'
        pool:
          name: rsp-manageddevopspool
        dependsOn: [setup, lint, SAST]
        condition: succeeded()
        variables:
          - name: devOpsPublicIP
            value: $[dependencies.setup.outputs['fetchPublicIP.ipaddress']]
          - group: ${{ parameters.env }}
          - group: ${{ parameters.env }}-keyvault
        steps:
          - checkout: self
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'

          - task: AzureCLI@2
            inputs:
              azureSubscription: $(${{ parameters.env }})
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az config set bicep.use_binary_from_path=false --only-show-errors
                az deployment sub validate --name "App-$(Build.BuildId)" --location $(location) --template-file ./5.spoke-network/main.application.bicep \
                  --parameters ./5.spoke-network/app-parameters/${{ parameters.env }}.parameters.bicepparam \
                              parAdminLogin=$(rspsqladminloginname) parSqlAdminPhrase=$(rspsqladminphrase) \
                              parClientID=$(clientID) parClientSecret=$(clientSecret) \
                              logAnalyticsWorkspaceId=$(logAnalyticsWorkspaceId) parDevOpsPublicIPAddress=$(devOpsPublicIP) \
                              paramWhitelistIPs=$(parWhitelistIPs) \
                              parClarityProjectId=$(clarityProjectId) \
                              parGoogleTagId=$(googleTagId) \
                              parCmsUri=$(cmsUri) \
                              parLogoutUrl=$(logoutUrl) \
                              parRtsApiBaseUrl=$(rtsApiBaseUrl) \
                              parRtsAuthApiBaseUrl=$(rtsAuthApiBaseUrl) \
                              parPortalUrl=$(portalUrl)
                              parCleanStorageAccountName=$(cleanStorageAccountName) \
                              parCleanStorageAccountKey=$(cleanStorageAccountKey) \
                              parStagingStorageAccountName=$(stagingStorageAccountName) \
                              parStagingStorageAccountKey=$(stagingStorageAccountKey) \
                              parQuarantineStorageAccountName=$(quarantineStorageAccountName) \
                              parQuarantineStorageAccountKey=$(quarantineStorageAccountKey) \
                              parMicrosoftEntraAudience=$(parMicrosoftEntraAudience) \
                              processDocuUploadManagedIdentityClientId=$(processDocuUploadManagedIdentityClientId) \
                              parMicrosoftEntraAuthority=$(parMicrosoftEntraAuthority) \
                              parValidateIrasIdClientId=$(parValidateIrasIdClientId) \
                              parValidateIrasIdAllowedAudiences="$(parValidateIrasIdAllowedAudiences)" \
                              harpProjectRecordsQuery="$(harpProjectRecordsQuery)" \
                              bgodatabase=$(bgodatabase) bgodatabaseuser=$(bgodatabaseuser) bgodatabasepassword="$(bgodatabasepassword)" \
                              parCreateKVSecretsWithPlaceholders=${{ parameters.create_secrets_with_placeholders }}

      - job: preview
        displayName: 'Preview Application Deployment'
        pool:
          name: rsp-manageddevopspool
        dependsOn: [setup, lint, validate]
        condition: succeeded()
        variables:
          - name: devOpsPublicIP
            value: $[dependencies.setup.outputs['fetchPublicIP.ipaddress']]
          - group: ${{ parameters.env }}
          - group: ${{ parameters.env }}-keyvault
        steps:
          - checkout: self
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'
          - task: AzureCLI@2
            inputs:
              azureSubscription: $(${{ parameters.env }})
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az config set bicep.use_binary_from_path=false --only-show-errors
                az deployment sub what-if --location $(location) --template-file ./5.spoke-network/main.application.bicep \
                  --parameters ./5.spoke-network/app-parameters/${{ parameters.env }}.parameters.bicepparam \
                              parAdminLogin=$(rspsqladminloginname) parSqlAdminPhrase=$(rspsqladminphrase) \
                              parClientID=$(clientID) parClientSecret=$(clientSecret) \
                              logAnalyticsWorkspaceId=$(logAnalyticsWorkspaceId) parDevOpsPublicIPAddress=$(devOpsPublicIP) \
                              paramWhitelistIPs=$(parWhitelistIPs) \
                              parClarityProjectId=$(clarityProjectId) \
                              parGoogleTagId=$(googleTagId) \
                              parCmsUri=$(cmsUri) \
                              parLogoutUrl=$(logoutUrl) \
                              parRtsApiBaseUrl=$(rtsApiBaseUrl) \
                              parRtsAuthApiBaseUrl=$(rtsAuthApiBaseUrl) \
                              parPortalUrl=$(portalUrl)
                              parCleanStorageAccountName=$(cleanStorageAccountName) \
                              parCleanStorageAccountKey=$(cleanStorageAccountKey) \
                              parStagingStorageAccountName=$(stagingStorageAccountName) \
                              parStagingStorageAccountKey=$(stagingStorageAccountKey) \
                              parQuarantineStorageAccountName=$(quarantineStorageAccountName) \
                              parQuarantineStorageAccountKey=$(quarantineStorageAccountKey) \
                              parMicrosoftEntraAudience=$(parMicrosoftEntraAudience) \
                              parMicrosoftEntraAuthority=$(parMicrosoftEntraAuthority) \
                              processDocuUploadManagedIdentityClientId=$(processDocuUploadManagedIdentityClientId) \
                              parValidateIrasIdClientId=$(parValidateIrasIdClientId) \
                              parValidateIrasIdAllowedAudiences="$(parValidateIrasIdAllowedAudiences)" \
                              harpProjectRecordsQuery="$(harpProjectRecordsQuery)" \
                              bgodatabase=$(bgodatabase) bgodatabaseuser=$(bgodatabaseuser) bgodatabasepassword="$(bgodatabasepassword)" \
                              parCreateKVSecretsWithPlaceholders=${{ parameters.create_secrets_with_placeholders }}


  # Environment-specific deployment stages

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: dev
      displayName: 'Deploy to Development'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: systemtest_manual
      displayName: 'Deploy to System Test (Manual)'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: systemtest_auto
      displayName: 'Deploy to System Test (Auto)'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: uat
      displayName: 'Deploy to UAT'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: pre_prod
      displayName: 'Deploy to Pre-Production'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/application-deployment-stage.yaml
    parameters:
      environmentName: production
      displayName: 'Deploy to Production'
      createSecretsWithPlaceholders: ${{ parameters.create_secrets_with_placeholders }}
      selectedEnvironment: ${{ parameters.env }}
