# This workflow will deploy the network resources
name: network-deployment
trigger: none
pr:
  branches:
    include:
      - main
  paths:
    include:
      - '5.spoke-network/main.network.bicep'
      - '5.spoke-network/network-parameters/**'


parameters:
  - name: env
    displayName: Environment
    type: string
    default: dev
    values:
      - dev
      - systemtest_manual
      - systemtest_auto
      - systemtest_int
      - uat
      - pre_prod
      - production

stages:
  - stage: PRValidation
    displayName: 'PR Validation Network Deployment'
    condition: eq(variables['Build.Reason'], 'PullRequest')
    jobs:
      - job: setup
        displayName: 'Checkout and Install Bicep'
        pool:
          name: rsp-manageddevopspool
        steps:
          - checkout: self
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'
      - job: lint
        displayName: 'Lint Network Templates'
        pool:
          name: rsp-manageddevopspool
        dependsOn: [setup]
        steps:
          - bash: az bicep build --file ./5.spoke-network/main.network.bicep
      
      - job: SAST
        displayName: 'SAST Analysis'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
        - task: MicrosoftSecurityDevOps@1
          displayName: 'Run SAST Analysis'
          inputs:
            tools: 'checkov,templateanalyzer'
            artifactName: 'CodeAnalysisLogs'
          env:
            GDN_RUN_WORKINGDIRECTORY: '5.spoke-network'
        

      - job: validate
        displayName: 'Validate Network Deployment'
        pool:
          name: rsp-manageddevopspool
        dependsOn: [setup, lint, SAST]
        condition: succeeded()
        variables:
          - group: ${{ parameters.env }}
        steps:
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'
          - task: AzureCLI@2
            inputs:
              azureSubscription: $(${{ parameters.env }})
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az config set bicep.use_binary_from_path=false --only-show-errors
                az deployment sub validate --name "Network-$(Build.BuildId)" --location $(location) --template-file ./5.spoke-network/main.network.bicep  \
                  --parameters ./5.spoke-network/network-parameters/${{ parameters.env }}.parameters.bicepparam \
                              logAnalyticsWorkspaceId=$(logAnalyticsWorkspaceId)

      - job: preview
        displayName: 'Preview Network Deployment'
        pool:
          name: rsp-manageddevopspool
        dependsOn: [setup, lint, validate]
        condition: succeeded()
        variables:
          - group: ${{ parameters.env }}
        steps:
          - script: |
              echo "Installing Azure CLI..."
              curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            displayName: 'Install Azure CLI'
          - bash: |
              az bicep install
              az bicep version
            displayName: 'Install Bicep CLI'
          - task: AzureCLI@2
            inputs:
              azureSubscription: $(${{ parameters.env }})
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az config set bicep.use_binary_from_path=false --only-show-errors
                az deployment sub what-if --location $(location) --template-file ./5.spoke-network/main.network.bicep \
                  --parameters ./5.spoke-network/network-parameters/${{ parameters.env }}.parameters.bicepparam \
                              logAnalyticsWorkspaceId=$(logAnalyticsWorkspaceId)


  # Environment-specific deployment stages

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: dev
      displayName: 'Deploy to Development'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: systemtest_manual
      displayName: 'Deploy to System Test (Manual)'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: systemtest_auto
      displayName: 'Deploy to System Test (Auto)'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: systemtest_int
      displayName: 'Deploy to System Test (Int)'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: uat
      displayName: 'Deploy to UAT'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: pre_prod
      displayName: 'Deploy to Pre-Production'
      selectedEnvironment: ${{ parameters.env }}

  - template: templates/network-deployment-stage.yaml
    parameters:
      environmentName: production
      displayName: 'Deploy to Production'
      selectedEnvironment: ${{ parameters.env }}
